<!DOCTYPE html>
<html>
  <head>
    <title>Todo_App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Todos</h1>
    <!-- rails resolves the new_todo_path route to todos/new -->
    <%= link_to "Add a new todo", new_todo_path %>

    <ul class="todos">
      <% @todos.each do |todo| %>
        <li class="todo">
          <%= todo.title %>
        </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>